<div class="bg-white py-16 px-4 overflow-hidden sm:px-6 lg:px-8 lg:py-24">
  <div class="relative max-w-xl mx-auto">
    <svg class="absolute left-full transform translate-x-1/2" width="404" height="404" fill="none" viewBox="0 0 404 404">
      <defs>
        <pattern id="85737c0e-0916-41d7-917f-596dc7edfa27" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
          <rect class="text-gray-200" x="0" y="0" width="4" height="4" fill="currentColor"></rect>
        </pattern>
      </defs>
      <rect width="404" height="404" fill="url(#85737c0e-0916-41d7-917f-596dc7edfa27)"></rect>
    </svg>
    <svg class="absolute right-full bottom-0 transform -translate-x-1/2" width="404" height="404" fill="none" viewBox="0 0 404 404">
      <defs>
        <pattern id="85737c0e-0916-41d7-917f-596dc7edfa27" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
          <rect class="text-gray-200" x="0" y="0" width="4" height="4" fill="currentColor"></rect>
        </pattern>
      </defs>
      <rect width="404" height="404" fill="url(#85737c0e-0916-41d7-917f-596dc7edfa27)"></rect>
    </svg>
    <div class="text-center">
      <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">New Client Sign Up</h2>
      <p class="mt-4 text-lg leading-6 text-gray-500">Welcome to Billsly! Fill out the information below so <strong><%= @account.name %></strong> can easily follow up with you.</p>
    </div>
    <div class="mt-12">
      <%= form_with model: @client, url: client_sign_up_create_path(@account.id), class: "grid grid-cols-1 gap-y-6" do |form| %>
        <div class="grid grid-cols-6 gap-6">
         <div class="col-span-6 sm:col-span-3">
            <%= form.label :first_name, class: "block text-sm font-medium text-gray-700" %>
            <%= form.text_field :first_name, class: "mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
          </div>

          <div class="col-span-6 sm:col-span-3">
            <%= form.label :last_name, class: "block text-sm font-medium text-gray-700" %>
            <%= form.text_field :last_name, class: "mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
          </div>

          <div class="col-span-6 sm:col-span-3">
            <%= form.label :email, class: "block text-sm font-medium text-gray-700" %>
            <%= form.text_field :email, class: "mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
          </div>

          <div class="col-span-6 sm:col-span-3">
            <%= form.label :phone_number, class: "block text-sm font-medium text-gray-700" %>
            <%= form.text_field :phone_number, class: "mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
          </div>
          <%= form.fields_for :client_profiles do |cp| %>
            <div class="col-span-6 sm:col-span-3">
              <%= cp.label "Address 1", class: "block text-sm font-medium text-gray-700" %>
              <%= cp.text_field :address1, class: "mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
            </div>
            <div class="col-span-6 sm:col-span-3">
              <%= cp.label "Address 2", class: "block text-sm font-medium text-gray-700" %>
              <%= cp.text_field :address2, class: "mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
            </div>
            <div class="col-span-6 sm:col-span-6 lg:col-span-2">
              <%= cp.label :city, class: "block text-sm font-medium text-gray-700" %>
              <%= cp.text_field :city, class: "mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
            </div>
            <div class="col-span-6 sm:col-span-3 lg:col-span-2">
              <%= cp.label :state, class: "block text-sm font-medium text-gray-700" %>
              <%= cp.text_field :state, class: "mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
            </div>
            <div class="col-span-6 sm:col-span-3 lg:col-span-2">
              <%= cp.label :zip_code, class: "block text-sm font-medium text-gray-700" %>
              <%= cp.text_field :zip_code, class: "mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
            </div>
          <% end %>
        </div>
        <div class="sm:col-span-2">
          <div class="flex items-start">
            <div class="flex-shrink-0">
              <div class="form-group">
                <%= form.check_box :terms_and_conditions, id: "tos", class: "form-checkbox mr-1" %>
                <label for="tos" class="inline-block text-sm">
                  <p class="text-base leading-6 text-gray-500">
                    By selecting this, you agree to the 
                    <%= link_to("Privacy Policy", privacy_path, target: "_blank", class: "font-medium text-gray-700 underline") %> and 
                    <%= link_to("Terms of Service", terms_path, target: "_blank", class: "font-medium text-gray-700 underline") %>.
                  </p>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="sm:col-span-2">
          <span class="w-full inline-flex rounded-md shadow-sm">
            <%= form.submit "Save", class: "w-full inline-flex items-center justify-center px-6 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition ease-in-out duration-150" %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
</div>