<%= form_with(model: sp_payment_link) do |form| %>
  <%= render "shared/error_messages", resource: form.object %>

  <div class="form-group">
    <%= form.label "choose a payment provider", class: "block text-sm font-medium text-gray-700" %>
    <%= form.select(:name, SpPaymentLink.names.keys.map {|key| [key.humanize, key]}, {}, class: "mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md") %>
  </div>

  <div class="form-group">
    <%= form.label :link %>
    <%= form.text_field :link, class: "form-control" %>
  </div>

  <div class="form-group flex justify-between">
    <%= form.button "Create Payment Link", class: "btn btn-primary" %>

    <% if form.object.persisted? %>
      <%= link_to "Delete", form.object, class: "btn btn-danger outline", method: :delete, data: { confirm: t("are_you_sure") } %>
    <% end %>
  </div>
<% end %>
