<div class="flex flex-wrap my-4 lg:px-4">
  <div class="w-full p-4 lg:w-1/4">
    <%= render partial: "shared/account_navbar" %>
  </div>
  <div class="w-full p-4 lg:w-3/4">
    <div class="p-4 bg-white border border-gray-300 rounded-lg lg:p-10">
      <div class="max-w-3xl mx-auto">
        <div class="flex justify-between items-center mb-4">
          <h1 class="h3"><%= link_to "Payment Links", sp_payment_links_path %> > Payment Link #<%= @sp_payment_link.id %></h1>
          <%= link_to t("edit"), edit_sp_payment_link_path(@sp_payment_link), class: "btn btn-link" %>
        </div>
        <div class="bg-white p-8">
          <div class="mb-4">
            <h5>Name</h5>
            <%= @sp_payment_link.name %>
          </div>
          <div class="mb-4">
            <h5>Link</h5>
            <%= @sp_payment_link.link %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
