<div class="container mx-auto my-8 px-4">
  <div class="max-w-3xl mx-auto">
    <div class="flex justify-between items-center mb-4">
      <h1 class="h3"><%= link_to "Sp Payment Links", sp_payment_links_path %> > Sp Payment Link #<%= @sp_payment_link.id %></h1>
      <%= link_to t("edit"), edit_sp_payment_link_path(@sp_payment_link), class: "btn btn-link" %>
    </div>

    <div class="bg-white rounded shadow p-8">
            <div class="mb-4">
        <h5>Name</h5>
        <%= @sp_payment_link.name %>
      </div>
            <div class="mb-4">
        <h5>Link</h5>
        <%= @sp_payment_link.link %>
      </div>
            <div class="mb-4">
        <h5>Account</h5>
        <%= @sp_payment_link.account %>
      </div>
          </div>
  </div>
</div>
