<div class="container mx-auto my-8 px-4">
  <div class="max-w-3xl mx-auto">
    <div class="flex justify-between items-center mb-4">
      <h1 class="h3"><%= link_to "Reminders", reminders_path %> > Reminder #<%= @reminder.id %></h1>
      <%= link_to t("edit"), edit_reminder_path(@reminder), class: "btn btn-link" %>
    </div>

    <div class="bg-white rounded shadow p-8">
            <div class="mb-4">
        <h5>Message</h5>
        <%= @reminder.message %>
      </div>
            <div class="mb-4">
        <h5>Account client</h5>
        <%= @reminder.account_client %>
      </div>
          </div>
  </div>
</div>
