<div class="container mx-auto my-8 px-4">
  <div class="flex justify-between items-center mb-4">
    <h1 class="h3">Clients</h1>

    <% if @customers.any? %>
      <%= link_to t("shared.scaffold.new.title", model: "Customer"), new_customer_path, class: "btn btn-primary" %>
    <% end %>
  </div>

  <% if @customers.any? %>
    <div class="bg-white rounded shadow table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @customers, :email, "Email", class: "text-gray-700" %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @customers, :phone_number, "Phone number", class: "text-gray-700" %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @customers, :first_name, "First name", class: "text-gray-700" %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @customers, :last_name, "Last name", class: "text-gray-700" %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @customers, :address1, "Address1", class: "text-gray-700" %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @customers, :address2, "Address2", class: "text-gray-700" %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @customers, :city, "City", class: "text-gray-700" %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @customers, :state, "State", class: "text-gray-700" %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @customers, :zip_code, "Zip code", class: "text-gray-700" %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @customers, :account_id, "Account", class: "text-gray-700" %></th>
            <th class="p-3 uppercase text-left text-xs text-gray-700 w-20"><%= t("shared.scaffold.actions") %></th>
          </tr>
        </thead>

        <tbody>
        <% @customers.each do |customer| %>
          <tr class="group border-t border-gray-400 hover:bg-gray-100">
                      <td class="p-3"><%= customer.email %></td>
                      <td class="p-3"><%= customer.phone_number %></td>
                      <td class="p-3"><%= customer.first_name %></td>
                      <td class="p-3"><%= customer.last_name %></td>
                      <td class="p-3"><%= customer.address1 %></td>
                      <td class="p-3"><%= customer.address2 %></td>
                      <td class="p-3"><%= customer.city %></td>
                      <td class="p-3"><%= customer.state %></td>
                      <td class="p-3"><%= customer.zip_code %></td>
                      <td class="p-3"><%= customer.account_id %></td>
          
            <td>
              <%= link_to t("shared.scaffold.view"), customer, class: "btn btn-link no-underline" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <% if @pagy.pages > 1 %>
      <div class="text-center my-6">
        <%== pagy_nav(@pagy) %>
      </div>
    <% end %>

  <% else %>
    <div class="bg-white rounded shadow flex flex-col items-center justify-between p-8 lg:flex-row">
      <%= image_tag "empty.svg", class: "mb-4 lg:w-1/2" %>
      <div class="flex-1 text-center">
        <p class="h3 mb-4">Create your first Cleint</p>
        <%= link_to t("shared.scaffold.new.title", model: "Client"), new_customer_path, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
