<div class="container mx-auto my-8 px-4">
  <div class="max-w-3xl mx-auto">
    <div class="flex justify-between items-center mb-4">
      <h1 class="h3"><%= link_to "Customers", customers_path %> > Customer #<%= @customer.id %></h1>
      <%= link_to t("edit"), edit_customer_path(@customer), class: "btn btn-link" %>
    </div>

    <div class="bg-white rounded shadow p-8">
            <div class="mb-4">
        <h5>Email</h5>
        <%= @customer.email %>
      </div>
            <div class="mb-4">
        <h5>Phone number</h5>
        <%= @customer.phone_number %>
      </div>
            <div class="mb-4">
        <h5>First name</h5>
        <%= @customer.first_name %>
      </div>
            <div class="mb-4">
        <h5>Last name</h5>
        <%= @customer.last_name %>
      </div>
            <div class="mb-4">
        <h5>Address1</h5>
        <%= @customer.address1 %>
      </div>
            <div class="mb-4">
        <h5>Address2</h5>
        <%= @customer.address2 %>
      </div>
            <div class="mb-4">
        <h5>City</h5>
        <%= @customer.city %>
      </div>
            <div class="mb-4">
        <h5>State</h5>
        <%= @customer.state %>
      </div>
            <div class="mb-4">
        <h5>Zip code</h5>
        <%= @customer.zip_code %>
      </div>
            <div class="mb-4">
        <h5>Account</h5>
        <%= @customer.account %>
      </div>
          </div>
  </div>
</div>
