<% if plan.name == "Starter" %>
  <div class="mx-auto max-w-md lg:mx-0 lg:max-w-none lg:col-start-2 lg:col-end-7 lg:row-start-1 lg:row-end-4 lg:mr-3">
    <div class="relative z-10 rounded-lg shadow-xl">
      <div class="absolute inset-x-0 top-0 transform translate-y-px"></div>
      <div class="bg-white rounded-t-lg px-6 pt-12 pb-10">
        <div>
          <h3 class="text-center text-3xl leading-9 font-semibold text-gray-900 sm:-mx-6" id="tier-growth"><%= plan.name %></h3>
          <div class="mt-4 flex items-center justify-center">
            <span class="px-3 flex items-start text-6xl leading-none tracking-tight text-gray-900 sm:text-6xl">
              <span class="mt-2 mr-2 text-4xl font-medium">$</span>
              <span class="font-extrabold"><%= plan.amount / 100 %></span>
            </span>
            <span class="text-2xl leading-8 font-medium text-gray-500">/<%= plan.interval %></span>
          </div>
        </div>
      </div>
      <div class="border-t-2 border-gray-100 rounded-b-lg pt-10 pb-8 px-6 bg-gray-50 sm:px-10 sm:py-10">
        <ul>
          <% Array.wrap(plan.features).each do |plan_feature| %>
            <li class="flex items-start">
              <div class="flex-shrink-0">
                <svg class="h-6 w-6 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                </svg>
              </div>
              <p class="ml-3 text-base leading-6 font-medium text-gray-500"><%= plan_feature %></p>
            </li>
          <% end %>  
        </ul>
        <div class="mt-8">
          <div class="rounded-lg shadow-md">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% elsif plan.name == "Professional" %>
  <div class="max-w-lg mx-auto lg:mt-0 lg:max-w-none lg:mx-0 lg:col-start-7 lg:col-end-12 lg:row-start-1 lg:row-end-4 lg:ml-3">
    <div class="relative z-10 rounded-lg shadow-xl">
      <div class="pointer-events-none absolute inset-0 rounded-lg border-2 border-indigo-600"></div>
      <div class="absolute inset-x-0 top-0 transform translate-y-px">
        <div class="flex justify-center transform -translate-y-1/2">
          <span class="inline-flex rounded-full bg-indigo-600 px-4 py-1 text-sm leading-5 font-semibold tracking-wider uppercase text-white">Most value</span>
        </div>
      </div>
      <div class="bg-white rounded-t-lg px-6 pt-12 pb-10">
        <div>
          <h3 class="text-center text-3xl leading-9 font-semibold text-gray-900 sm:-mx-6" id="tier-growth"><%= plan.name %></h3>
          <div class="mt-4 flex items-center justify-center">
            <span class="px-3 flex items-start text-6xl leading-none tracking-tight text-gray-900 sm:text-6xl">
              <span class="mt-2 mr-2 text-4xl font-medium">$</span>
              <span class="font-extrabold"><%= plan.amount / 100 %></span>
            </span>
            <span class="text-2xl leading-8 font-medium text-gray-500">/<%= plan.interval %></span>
          </div>
        </div>
      </div>
      <div class="border-t-2 border-gray-100 rounded-b-lg pt-10 pb-8 px-6 bg-gray-50 sm:px-10 sm:py-10">
        <ul>
          <% Array.wrap(plan.features).each do |plan_feature| %>
            <li class="flex items-start">
              <div class="flex-shrink-0">
                <svg class="h-6 w-6 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                </svg>
              </div>
              <p class="ml-3 text-base leading-6 font-medium text-gray-500"><%= plan_feature %></p>
            </li>
          <% end %>  
        </ul>
        <div class="mt-8">
          <div class="rounded-lg shadow-md">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>