<!DOCTYPE html>
<html class="h-full antialiased" lang="<%= I18n.locale %>">
  <head>
    <title>
      <% if content_for?(:title) %>
        <%= yield :title %> |
      <% end %>
      <%= Jumpstart.config.application_name %>
    </title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%# All assets are defined in Webpacker app/javascripts now %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>

    <%# Be sure to add your own custom favicons %>
    <%= render "shared/favicons" %>
    <%= render "shared/payments_dependencies" %>

    <%# Replace this with your FontAwesome Pro Kit code %>
    <%
=begin%>
 <script src="https://kit.fontawesome.com/0e5ab6a736.js"></script> 
<%
=end%>
    <script src="https://kit.fontawesome.com/0f49d8bb25.js" crossorigin="anonymous"></script>

    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">

    <%= yield :head %>
    <!-- stonly-widget - copy into the head -->
    <!-- stonly-widget - copy into the head -->
  </head>

  <body class="h-full font-sans antialiased font-normal leading-normal bg-gray-100">

    <% if content_for?(:free_months)  %>
      <div data-controller="alert" class="bg-green-200 relative flex justify-between">
        <div class="relative z-10 flex px-0">
          
        </div>
        <div class="relative z-0 flex px-2 flex items-center justify-center">
          <div class="w-full underline ml-8 md:ml-0">
            <%= link_to edit_user_registration_path do %>
              <p class="text-sm font-medium text-green-800">
                Want a free month? Click here.
              </p>
            <% end %>
          </div>
        </div>
        <div class="relative lg:z-10 flex items-center">
          <button data-action="alert#close" type="button" class="inline-flex rounded-md p-1 text-green-500 hover:bg-green-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-green-50 focus:ring-green-600">
            <span class="sr-only">Dismiss</span>
            <!-- Heroicon name: solid/x -->
            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </button>
        </div>
      </div>
    <% end %>

    <div class="main">
      <%= render partial: "shared/flash" %>
      <%= render partial: "shared/navbar" unless @disable_nav %>
      <div class="lg:px-0">
        <%= yield %>
      </div>
    </div>

    <%= render partial: "shared/footer" unless turbo_native_app? %>

    <% if turbo_native_app? && user_signed_in? %>
      <div data-controller="turbo-native--push-notifications"></div>
    <% end %>
  </body>
</html>
