<div class="flex flex-wrap my-4 lg:px-4">
  <div class="w-full lg:p-4 lg:w-1/4">
    <%= render partial: "shared/account_navbar" %>
  </div>

  <div class="w-full pt-4 lg:p-4 lg:w-3/4">
    <div class="p-4 bg-white border border-gray-300 rounded-lg lg:p-10">

      <div class="sm:flex items-center justify-between mb-3">
        <h1 class="flex-1 h2">Account</h1>


      </div>

      <table class="w-full">
        <tbody>
          <% @accounts.sorted.each do |account| %>
            <tr class="border-t border-gray-100 group">
              <td class="p-3">
                <%= link_to account, class: "hidden sm:inline-block mr-4 align-middle" do %>
                  <span class="flex items-center text-gray-700 appearance-none">
                    <%= account_avatar account, class: "rounded-full h-10 w-10" %>
                  </span>
                <% end %>

                <%= link_to account.name, account, class: "text-gray-900 font-semibold text-sm no-underline hover:text-primary" %>
                <% if account.personal_account_for?(current_user) %>
                  <div class="block sm:inline-block px-3 py-1 sm:ml-2 mr-2 text-xs leading-normal text-gray-600 uppercase bg-gray-300 rounded-full font-semibold">Personal</div>
                <% end %>
              </td>

              <td class="text-sm text-center">
                <% if current_account != account %>
                  <%= switch_account_button account, label: t(".switch"), class: "btn btn-link no-underline" %>
                <% else %>
                  <span class="text-gray-600"><%= t(".current") %></span>
                <% end %>
              </td>

              <td>
                <%= link_to "View", account, class: "btn btn-link" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

          <tbody>
            <% @accounts.impersonal.each do |account| %>
              <% next if account.personal? # Skip display personal accounts to reduce confusion %>

              <tr class="border-t border-gray-400 group">
                <td class="p-3">
                  <%= link_to account, class: "inline-block mr-4 align-middle" do %>
                    <span class="flex items-center text-gray-700 appearance-none">
                      <%= account_avatar account, class: "rounded-full h-10 w-10" %>
                    </span>
                  <% end %>

                  <%= link_to account.name, account, class: "text-gray-900 no-underline hover:text-primary" %>
                  <% if account.personal_account_for?(current_user) %>
                    <div class="inline-block px-3 py-1 ml-2 mr-2 text-xs leading-normal text-gray-600 uppercase bg-gray-300 rounded-full font-semibold">Personal</div>
                  <% end %>
                </td>

                <td class="p-3 text-sm text-center">
                  <% if current_account != account %>
                    <%= switch_account_button account, label: t(".switch"), class: "btn btn-link no-underline" %>
                  <% else %>
                    <span class="text-gray-600"><%= t(".current") %></span>
                  <% end %>
                </td>

                <td>
                  <%= link_to "View", account, class: "btn btn-link" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <% if @pagy.pages > 1 %>
          <div class="my-6 text-center">
            <%%== pagy_nav(@pagy) %>
          </div>
        <% end %>
        <%
=begin%>
 <div class="p-8 text-center">
          <%= image_tag "empty.svg", class: "w-1/3 mb-4 m-auto" %>
        </div> 
<%
=end%>
        <h4>Default Reminder Message:</h4>
        <div class="bg-gray-200 overflow-hidden shadow sm:rounded-lg mt-3">
          <div class="px-4 py-5 sm:p-6">
            <!-- Content goes here -->
            <%= @accounts.first.default_reminder_message %>
          </div>
        </div>
        

        <div data-controller="modal" data-modal-disable-backdrop="true">
          <button class="btn btn-primary mt-4" data-action="click->modal#open">Edit Default Message</button>

          <div data-modal-target="container" data-action="click->modal#closeBackground keyup@window->modal#closeWithKeyboard" class="hidden animated fadeIn fixed inset-0 overflow-y-auto flex items-center justify-center" style="z-index: 9999;">
            <!-- Modal Inner Container -->
            <div class="fixed top-0 left-0 w-full h-full relative">
              <!-- Modal Card -->
              <div class="w-screen h-screen bg-white">
                <div class="flex flex-wrap justify-center items-center h-screen">
                  <div class="w-2/3 m-auto">
                    <h2 class="mb-4">Edit Default Reminder Message</h2>
                    
                    <%= form_with(model: @accounts.first) do |form| %>
                      <%= render "shared/error_messages", resource: form.object %>

                      <div class="form-group">
                        <%= form.label :default_reminder_message %>
                        <%= form.rich_text_area :default_reminder_message, class: "form-control" %>
                      </div>
                      <div class="form-group flex justify-between">
                        <%= form.button "Save Default Message", class: "btn btn-primary" %>
                      </div>
                    <% end %>

                    <div class="flex justify-end items-center flex-wrap mt-6">
                      <button class="btn btn-primary" data-action="click->modal#close">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <% if @pagy.pages > 1 %>
        <div class="my-6 text-center">
          <%%== pagy_nav(@pagy) %>
        </div>
      <% end %>

    </div>
  </div>
</div>
